<div class='flex justify-center'>
    <div class='card bg-white aspect-[3/2] md:w-[13em] md:h-[19.5em] w-[10em] h-[15em] rounded-lg drop-shadow-lg hover:drop-shadow-xl border-2 '>
        <div class='bg-white rounded-t-lg'>
            <img [src]="cacto" alt="Cacto" class='w-full h-2/3 object-cover' />
        </div>
        <div class='p-2 md:p-4 fixed bottom-0'>
            <h2 class='md:text-xl text-lg truncate'>Nome do Produto</h2>
            <p class='text-xl font-bold md:text-2xl'>R$ 99,99</p>
        </div>
    </div>
</div>